{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-default navbar-static-top">
        <div id="navbar" class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                {% if app.user %}
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/">User</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}
